@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
}

.hero {
  width: fit-content;
  height: fit-content;  
  background: transparent;
  display: flex;
  align-items: left;
  justify-content: top; 
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  top: 20px;
  left: 106px;
  transition: 1s;
}

.adjust .hero {
  left: 316px;
}

.searchBox {
  border-radius: 50px;  
  padding: 27px;
  background: rgb(0,80,134);
  background: linear-gradient(135deg, rgba(0,80,134,1) 0%, rgba(176,202,199,1) 100%);
  display: flex;
  /*align-items: baseline;*/
  align-items: flex-start ;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  height: 40px;
  gap: 30px;
  transition: 0.5s;
}

.searchBox:hover {
  background: rgb(0,80,134);
  background: linear-gradient(135deg, rgba(0,80,134,1) 0%, rgba(176,202,199,1) 100%);
}

.grey .searchBox {
  background: rgb(0,80,134);
  background: linear-gradient(135deg, rgba(0,80,134,1) 0%, rgba(176,202,199,1) 100%);
}

.grey .searchBox:hover {
  background: rgb(0,80,134);
  background: linear-gradient(135deg, rgba(0,80,134,1) 0%, rgba(176,202,199,1) 100%);
}


#locationIcon {
  width: fit-content;
  cursor: pointer;
  font-size: 35px;
  color: white;
  margin-right: -10px;
}

#searchIcon {
  width: fit-content;
  cursor: pointer;
  font-size: 35px;
  color: white;
  transition: 1.5s;
  margin-left: 20px;
}

.locate {
  font-size: 16px;
  font-family: 'Comfortaa';
  width: 0px;
  border: 0;
  background: transparent;
  outline: none;
  transition: 1.5s;
  border-bottom: 2px;
  border-color: transparent;
  border-style: solid;
  padding-bottom: 8px;
  height: fit-content;  
  color: white;
}

#origin, #destination {
  position: relative;
  bottom: 7.5px;
}

.locate::placeholder {
  color: #c7c7c7;
}

.active .locate   {
  font-size: 16px;
  width: 300px;   
  border-bottom: 2px;
  border-color: white;
  border-style: solid;
}

.active #destination {
  margin-left: 25px;
}

.active #searchIcon {
  color: white;
  width: fit-content;
  margin: auto;
  margin-left: 10px;
}

#floating-panel {
  position: absolute;
  top: 60.7%;
  right: 5%;
  z-index: 5;
  background: rgb(0,80,134);
  background: linear-gradient(135deg, rgba(0,80,134,1) 0%, rgba(176,202,199,1) 100%);
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font-family: 'Comfortaa';
  line-height: 30px;
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  color: white;
}

.dashboard {
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 95.5%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2); 
  /*background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);*/
  background: rgb(0,80,134);
  background: linear-gradient(135deg, rgba(0,80,134,1) 0%, rgba(176,202,199,1) 100%);
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 47px;
  transition: 1s;
}

.active .dashboard {
  width: 300px;
}

#hamburger {
  font-size: 40px;
  cursor: pointer;
  transition: 1s;
  position: relative;
  right: 28px;
  color: white;
}

.active #hamburger {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  right: 56px;
}

/*.buns {
  width: 90px;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  transition: 1s; 
}

.active .buns {
  width: 300px;
}*/

.dashbar {
  width: 0px;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  color: white;
  flex-wrap: nowrap;
}

.active .dashbar {
  width: 300px;
  color: white;
  padding: 0px;
  border: none;
}

.dashtext {
  width: 0px;
  transition: 1s;   
  padding-left: 10px;
  cursor: default;
  color: transparent;
  padding: 20px;

  font-size: 20px;
  font-family: 'Comfortaa';
  font-weight: 500;
  width: 0px;
  border: 0;
  background: transparent;
  outline: none;
}

.dashtext::placeholder {
  color: white;
}

.active .dashtext {
  width: 300px;
  cursor: pointer;
}

.dashbutton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  transition: 0.25s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active .dashbutton:hover {
  background: #0000001e;
}

.active .dashbutton:active {
  background: #0000003f;
}

.active .dashbutton    {
  width: 300px;
} 

#dash1, #dash2, #dash3 {
  font-size: 35px;
}

.active #dash1, .active #dash2, .active #dash3 {
}

#tilt {
  background-color: Transparent;
  border-width: 1px;
  height: 2.5vw;
  width: 10vw;
  border-radius: 20px;
  transition: 1s;
  color: white;
}

#tilt:hover {
    cursor: pointer;
    background:rgba(163, 163, 163, 0.438);
}

.border {
  width: 0px;
  height: 2px;
  background: white;
  transition: 1s;
  border-radius: 1px;
}

.active .border {
  width: 255px;
  background:white;
}

.switch-container {
  display: flex;
  align-content: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
} 

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.filter-text {
  float: left;
  justify-content: left;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  transition: 1s;
  color: white;
}

.logo:hover {
  background: #0000001e;
}

.active .logo {
  width: 300px
}

.active .logo:hover{
  background: transparent;
}

#logotext {
  cursor: default;
  font-size: 28px;
}

#searchButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.space {
  height: 30px;
}

#directionsPanel {
  position: absolute;
  top: 53.3%;
  left: 130px;
  width: 400px;
  height: 300px;
  transition: 1s;
  padding: 30px;
  border-radius: 30px;
  opacity: 0;
  overflow-y: auto;
  background: rgba(176,202,199,1);
  color: white;
}

.active #directionsPanel {
  opacity: 100;
  background:#f0f3ff;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  background: rgba(176,202,199,1);
  color: white;
}

a {
  text-decoration: none;
}

.adjust #directionsPanel {
  left: 340px;
}

.logopng {
  position: absolute;
  width: 17%;
  height: 8.6%;
  top: 37px;
  right: 50px;
}

#phoneContainer {
  position: absolute;
  top: 132px;
  display: flex;
  justify-content: center;
  
}

#phoneBox {
  opacity: 0;
}

.show #phoneBox {
  opacity: 100;
}

.adjust #phoneBox {
  left: 316px;
}

#phoneIcon {
  font-size: 35px;
  color: white;
  cursor: pointer;
  position: relative;
  left: 12px;
  
}

#phone {
  position: relative;
  top: 10px;
  font-size: 16px;
  font-family: 'Comfortaa';
  width: 300px;
  background: transparent;
  outline: none;
  transition: 1.5s;
  border-bottom: 2px;
  border-color: transparent;
  border-style: solid;
  padding-bottom: 8px;
  height: fit-content;  
  color: white;   
  border-bottom: 2px;
  border-color: white;
  border-style: solid;
  margin-right: -10px;
}

.active #phone {
  width: 0px;
}

#checkIcon {
  font-size: 42px;
  color: white;
  cursor: pointer;
}